<md-content layout="column" flex class="md-padding">
    <h2 class="md-title">Send Email from URL</h2>
    <form id="emailForm" name="emailForm" novalidate >
    <md-chips ng-model="EmailHtml.email.to" name="EmailTo" readonly="false" placeholder="Enter a email address" 
    delete-button-label="Remove email address" delete-hint="Press delete to remove email address" 
    secondary-placeholder="+Email" required></md-chips>
    <div ng-messages="emailForm.EmailTo.$error">
        <div ng-message="required">This is required.</div>
    </div>
    <md-input-container flex="">
        <label>Subject</label>
        <input type="text" name="EmailSubject" ng-model="EmailHtml.email.subject" required="">
        <div ng-messages="emailForm.EmailSubject.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container flex="">
        <label>HMTL</label>
        <textarea name="EmailUrl" ng-model="EmailHtml.email.html"  columns="1" md-maxlength="35000" ng-model-options="{ debounce: 550 }"></textarea>
    </md-input-container>
    <md-button type="button" ng-click="reset()">RESET</md-button>
    <md-button type="submit" ng-click="EmailHtml.submit(EmailHtml.email)" class="md-primary" ng-disabled="emailForm.$invalid">SUBMIT</md-button>
    <div ng-bind-html="EmailHtml.email.html"></div>
    <!-- 
    <pre>user = {{user | json}}</pre>
    <pre>email = {{ EmailHtml.email | json }}</pre>
    <pre>email = {{ EmailHtml.email.to | json }}</pre>
    -->
    </form>
</md-content>