    <h2 class="md-title">Send Email from HTML</h2>
    <form id="emailForm" name="emailForm" novalidate >
    <md-chips ng-model="EmailHtml.email.to" name="EmailTo" readonly="false" placeholder="Enter a email address" 
    delete-button-label="Remove email address" delete-hint="Press delete to remove email address" 
    secondary-placeholder="+Email" required></md-chips>
    <div ng-messages="emailForm.EmailTo.$error">
        <div ng-message="required">This is required.</div>
    </div>
    <md-input-container flex="">
        <label>Subject</label>
        <input type="text" name="EmailSubject" ng-model="EmailHtml.email.subject" required="">
        <div ng-messages="emailForm.EmailSubject.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container flex="">
        <label>HMTL</label>
        <textarea name="EmailHtml" ng-model="EmailHtml.email.html" rows="5" md-maxlength="35000" style="max-height: 25vh; overflow-y: auto;" ng-model-options="{ debounce: 550 }" required></textarea>
        <div ng-messages="emailForm.EmailHtml.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <div layout layout-align="end center">
	    <md-button type="button" ng-click="EmailHtml.reset()">RESET</md-button>
	    <md-button type="button" ng-click="EmailHtml.html_preview(EmailHtml.email.html)">PREVIEW</md-button>
	    <md-button type="submit" ng-click="EmailHtml.submit(EmailHtml.email)" class="md-primary" ng-disabled="emailForm.$invalid">SUBMIT</md-button>
    </div>
    <div ng-show="show_server_errors">
    {{ form_error_msg }}
    </div>
    <div ng-bind-html="EmailHtml.preview"></div>
    </form>