    <div ng-hide="is_login">
        Tienes que acceder con tu cuenta de Gmail/Google Apps para ver esta parte
    </div>
    <div ng-show="is_login">
	    <h2 class="md-title">Sending History</h2>
	    <md-card ng-repeat="email in emails">
	        <md-card-content layout="row">
	        <div layout="row" layout-align="start center" hide show-gt-md flex="35" ><span ng-repeat="to in email.to" >{{ to.email }}, </span></div>
	        <div layout="row" layout-align="start center" flex="30" >{{ email.id }}# {{ email.subject }}</div>
	        <div layout="row" layout-align="start center" flex="30" flex-gt-md="20" >{{ email.created | date:"dd/MM/yyyy 'at' h:mma" }}</div>
	        <div layout="row" layout-align="start center" flex="20" >
	            <md-button ng-show="email.url"class="md-fab md-primary" aria-label="View URL" ng-href="{{ email.url }}" target="_blank">
	              <md-icon md-svg-src="/assets/images/arrow165.svg"></md-icon>
	            </md-button>
	            <md-button ng-show="email.content" class="md-fab md-primary" aria-label="View URL" ng-href="{{ email.url }}" layout-align="end center">
	              <md-icon md-svg-src="/assets/images/eye110.svg"></md-icon>
	            </md-button>
	            <md-button class="md-fab" aria-label="View URL" ng-click="EmailHistory.resend(email.id)" layout-align="end center">
	              <md-icon md-svg-src="/assets/images/email109.svg"></md-icon>
	            </md-button>
	        </div>
	        </md-card-content>
	
	    </md-card>
	    <div ng-show="show_server_errors">
	    {{ form_error_msg }}
	    </div>
    </div>