    <h2 class="md-title"><md-icon md-svg-icon="/assets/images/letter110.svg"></md-icon> Sending History</h2>
    <section>
      <md-list layout="column" layout-padding>
      <md-list-item class="md-3-line" ng-repeat="email in emails">
        <div class="md-list-item-text">
          <h3>Subject: {{ email.subject }}</h3>
          <p>to: <span ng-repeat="to in email.to">{{ to.email }}, </span></p>
          <p>{{ email.url }}</p>
        </div>
      </md-list-item>
      </md-list>
    </section>
    
    <md-card ng-repeat="email in emails">
        <md-card-content>
        <img class="pull-right" ">
        <h3 class="md-title">{{ email.subject }}</h3>
       <p>to: <span ng-repeat="to in email.to">{{ to.email }}, </span></p>
        </md-card-content>
        <div class="md-action-buttons">
        <md-button ng-href="{{ email.url }}">Url</md-button>
        </div>
    </md-card>
    <div ng-show="show_server_errors">
    {{ form_error_msg }}
    </div>