<md-content layout="column" flex class="md-padding">
<h2 class="md-title">Freak Compilations</h2>
    <md-card>
        <md-card-content>
            <p>Cuatro años y medio dan para hacer muchas cosas grandes... y también para hacer mucho el ganso.<br>
            Recopilatorio de algunas curiosidades para que no caigan en el olvido:
            </p>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>JS Tetris song</h2>
            <p>Canción del tetris hecha únicamente con Vanilla JS. Creamos un diccionario definiendo las notas y su frecuencia. Con esta referencia, 
            creamos la partitura y haciendo la conversión con el oscilador de JS y un metrónomo, este fue el resultado:<br><br>
            <md-icon md-svg-icon="/assets/images/play128.svg" ng-click="play()"></md-icon>
            </p>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>Crétidos FormaciónActívate 2014</h2>
            <p>Para despedir la web vieja, preparé unos créditos ocultos en la web para dar las gracias a todo el equipazo que llevamos el 
            proyecto durante el año<br><br>
            <a href="http://2014.formacionactivate.es/?creditos=gracias_equipo" target="_blank" ><md-icon md-svg-icon="/assets/images/external1.svg" ></md-icon></a>
            </p>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>Góbalo 2011</h2>
            <p>Cuando empecé a trabajar en Góbalo en 2011, "esto" era la web:<br><br>
            <img ng-src="/assets/images/gobalo_2011.jpg">
            </p>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>Góbalo 2013</h2>
            <p>Para apoyar a Movember, en la web apareció durante un tiempo un supermario correteando:<br><br>
            <img ng-src="/assets/images/mario.png">
            </p>
        </md-card-content>
    </md-card>
</md-content>