<ul class="docs-menu">
    <li class="parent-list-item" >
        <menu-link section="section" class="ng-scope ng-isolate-scope">
	        <md-button class="md-button md-default-theme" tabindex="0" ui-sref="getstart">
	        Getting Started
	        </md-button>
        </menu-link>
    </li>
    <li class="parent-list-item" >
        <menu-link section="section" class="ng-scope ng-isolate-scope">
            <md-button class="md-button md-default-theme" tabindex="0" ui-sref="emailurl">
            Send email from URL
            </md-button>
        </menu-link>
    </li>
    <li class="parent-list-item" >
        <menu-link section="section" class="ng-scope ng-isolate-scope">
            <md-button class="md-button md-default-theme" tabindex="0" ui-sref="emailhtml">
            Send email from HTML
            </md-button>
        </menu-link>
    </li>
    <li class="parent-list-item" >
        <menu-link section="section" class="ng-scope ng-isolate-scope">
            <md-button class="md-button md-default-theme" tabindex="0" ui-sref="emaihistory">
            Sending history
            </md-button>
        </menu-link>
    </li>
</ul>